{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% set viewHeader = {
  title: 'Ansprechpartner & Team' | t,
  text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.' | t
} %}

<div{{ attributes.addClass(classes) }}>

  {# view header #}
  {% include '@ddbp/partials/view-header.html.twig' with viewHeader %}

  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="container">
      <div class="view-content">
        {{ rows }}
      </div>
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
</div>
